# Files to be globally ignored

## Environment files
**/*.env
**/*.env.*

## Local Postgres data (run_test_server.sh)
**/postgres_data/

## Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

## Vite
**/.vite/
